{% extends 'layout.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="auth-form mt-5">
            <h6 class="mb-4">Нет аккаунта?<span class="float-end"><a class="text-decoration-none text-dark" href="{% url 'register' %}">Зарегистрироваться</a></span></h6>
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <div class="mb-3">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>
                    <div>{{ f }}</div>
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <input type="submit" class="form-control btn btn-outline-dark mt-2" value="Войти">
        </div>
    </form>
{% endblock %}